@using Microsoft.AspNetCore.Components

@typeparam TValue

<div class="form-group row">
  <label for="@Id" class="col-3 col-form-label">@Label</label>
  <div class="col-9">
    <input type="@Type" class="form-control" id="@Id" placeholder="@Placeholder" @bind="Value" />
  </div>
</div>

@code {
  [Parameter] public string Id { get; set; } = string.Empty;
  [Parameter] public string Label { get; set; } = string.Empty;
  [Parameter] public string Placeholder { get; set; } = string.Empty;
  [Parameter] public string Type { get; set; } = "text";
  [Parameter] public TValue Value { get; set; }
  [Parameter] public EventCallback<TValue> ValueChanged { get; set; }

  private async Task OnValueChanged(ChangeEventArgs e) {
    if (e.Value != null) {
      Value = (TValue)e.Value!;
      await ValueChanged.InvokeAsync(Value);
    }
  }
}