@using Microsoft.AspNetCore.Components

<div class="form-floating mt-2 mb-1">
  <input type="@Type" id="@Id" class="form-control" @bind="Value" placeholder="@Placeholder" />
  <label for="@Id">@Label</label>
</div>

@code {
  [Parameter] public required string Id { get; set; }
  [Parameter] public required string Label { get; set; }
  [Parameter] public required string Placeholder { get; set; }
  [Parameter] public required string Type { get; set; } = "text";
  [Parameter] public required string Value { get; set; }
  [Parameter] public EventCallback<string> ValueChanged { get; set; }
}
